.img-thumb {
    max-width: 90px;
    border-radius: 5px;
}

.logo-painel img {
    max-width: 170px;
}

.form-horizontal .form-control {
    border-radius: 5px 0 0 5px;
}

.form-horizontal .btn.btn-sm {
    border-radius: 0 5px 5px 0;
    padding: 8.5px 14px;
}

.main-footer {
    z-index: 9;
}

.light-skin .main-sidebar, .main-sidebar .sidebar-footer {
    border-right: 1px solid #DDD;
}

.lookup::before {
    content: "\f002";
    font-family: 'FontAwesome';
}

.sidebar-menu li>a>.pull-right-container {
    margin-top: -11px;
}

.sidebar-menu>li {
    margin-bottom: 5px;
}

.theme-primary.light-skin .sidebar-menu>li.active a>i {
    color: #ffffff;
}

.table>thead>tr>td, .table>thead>tr>th {
    padding: 0.5rem 1rem;
}

.help-block {
    margin: 0.55em;
    font-size: 0.95rem;
    display: block;
}

.pagination {
    margin: 0;
}

.page-link, .pagination li a {
    min-width: inherit;
    padding: 0.50rem 1rem;
    background-color: #fff;
    border-color: #dee2e6;
    margin: 0 0 0 -1px;
    border-radius: 0;
}

.theme-primary .pagination li a:hover {
    border: 1px solid #007bff;
    background-color: #007bff !important;
}

/* Table Responsive - Mobile 967*/

@media screen and (max-width:967px) {
    .btn-mobile-float {
        position: fixed;
        z-index: 99999;
        bottom: 30px;
        right: 30px;
    }
    .btn-mobile-float span {
        display: none;
    }
    .table-responsive thead {
        display: none;
    }
    .table-responsive tbody {
        display: block;
        position: relative;
    }
    .table-responsive tbody tr {
        display: block;
        border: 1px solid #DDD;
        border-radius: 5px;
        margin: 0 0 10px 0;
        padding: 10px;
    }
    .table-responsive tbody tr td {
        width: 100%;
        display: block;
        border: 0;
        padding: 4px 0;
    }
}
.gallery-midias span{
    position: relative;
}
.gallery-midias .btn-delete-image {
    position: absolute;
    top: 0;
    left: 0;
    background: #F00;
    padding: 2px 5px;
    display: block;
    color: #FFF;
    font-size: 8px;
    border-radius: 5px;
}