@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .h-subpage {
        height: 40rem;
    }
    .iframe-responsive {
        position: relative;
        padding-bottom: 56.25%;
        /* 16:9 */
        padding-top: 25px;
        height: 0;
        min-height: 35rem;
        overflow: hidden !important;
    }
    .iframe-responsive.iframe-grid {
        min-height: auto;
    }
    .iframe-responsive iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .content a {
        color: #72af30
    }
    .content a:hover, .content a:focus {
        color: #000;
        text-decoration: underline;
    }
    .color-theme, .hover\:color-theme:hover {
        color: #98c964 !important;
    }
    @-webkit-keyframes translateHeader {
        0% {
            opacity: 0;
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%)
        }
        100% {
            opacity: 1;
            -webkit-transform: translateY(0);
            transform: translateY(0)
        }
    }
    @keyframes translateHeader {
        0% {
            opacity: 0;
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%)
        }
        100% {
            opacity: 1;
            -webkit-transform: translateY(0);
            transform: translateY(0)
        }
    }
    .font-montserrat {
        font-family: 'Montserrat', sans-serif;
    }
    #menu-header *, #menu-footer * {
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
    }
    #menu-header ul li a, #menu-footer ul li a {
        transition: all 0.3s ease;
    }
    #menu-header ul li a:hover, #menu-footer ul li a:hover {
        letter-spacing: 0.1em;
    }
    .is-logo {
        -webkit-animation: translateHeader 1.8s;
        animation: translateHeader 1.8s;
    }
    @media (min-width: 1024px) {
        .is-sticky {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            width: 100%;
            -webkit-box-shadow: 0 3px 4px rgb(0 0 0 / 7%);
            box-shadow: 0 3px 4px rgb(0 0 0 / 7%);
            -webkit-animation: translateHeader .8s;
            animation: translateHeader .8s;
            -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .05)!important;
            box-shadow: 0 3px 6px rgba(0, 0, 0, .05)!important;
        }
    }
    .modal-open {
        overflow: hidden;
    }
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1060;
        /* display: none; */
        width: 100%;
        height: 100%;
        overflow: hidden;
        outline: 0
    }
    .modal-dialog {
        position: relative;
        width: auto;
        margin: .5rem;
        pointer-events: none
    }
    .modal.fade .modal-dialog {
        transition: transform .3s ease-out;
        transform: translate(0, -50px)
    }
    @media (prefers-reduced-motion:reduce) {
        .modal.fade .modal-dialog {
            transition: none
        }
    }
    .modal.show .modal-dialog {
        transform: none
    }
    .modal.modal-static .modal-dialog {
        transform: scale(1.02)
    }
    .modal-dialog-scrollable {
        height: calc(100% - 1rem)
    }
    .modal-dialog-scrollable .modal-content {
        max-height: 100%;
        overflow: hidden
    }
    .modal-dialog-scrollable .modal-body {
        overflow-y: auto
    }
    .modal-dialog-centered {
        display: flex;
        align-items: center;
        min-height: calc(100% - 1rem)
    }
    .modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        /* background-color: #fff; */
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: .3rem;
        outline: 0
    }
    .modal-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1040;
        width: 100vw;
        height: 100vh;
        background-color: #000
    }
    .modal-backdrop.fade {
        opacity: 0
    }
    .modal-backdrop.show {
        opacity: .5
    }
    .modal-header {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        border-bottom: 1px solid #dee2e6;
        border-top-left-radius: calc(.3rem - 1px);
        border-top-right-radius: calc(.3rem - 1px)
    }
    .modal-header .btn-close {
        padding: .5rem .5rem;
        margin: -.5rem -.5rem -.5rem auto
    }
    .modal-title {
        margin-bottom: 0;
        line-height: 1.5
    }
    .modal-body {
        position: relative;
        flex: 1 1 auto;
        padding: 1rem;
        overflow: scroll;
        overflow-x: hidden;
        background: #FFF;
        border-radius: 5px;
        max-height: 60vh;
    }
    .modal-footer {
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 0;
        align-items: center;
        justify-content: flex-end;
        padding: .75rem;
        border-top: 1px solid #dee2e6;
        border-bottom-right-radius: calc(.3rem - 1px);
        border-bottom-left-radius: calc(.3rem - 1px)
    }
    .modal-footer>* {
        margin: .25rem
    }
    @media (min-width:576px) {
        .modal-dialog {
            max-width: 500px;
            margin: 1.75rem auto
        }
        .modal-dialog-scrollable {
            height: calc(100% - 3.5rem)
        }
        .modal-dialog-centered {
            min-height: calc(100% - 3.5rem)
        }
        .modal-sm {
            max-width: 300px
        }
    }
    @media (min-width:992px) {
        .modal-lg, .modal-xl {
            max-width: 800px
        }
    }
    @media (min-width:1200px) {
        .modal-xl {
            max-width: 1140px
        }
    }
    .modal-fullscreen {
        width: 100vw;
        max-width: none;
        height: 100%;
        margin: 0
    }
    .modal-fullscreen .modal-content {
        height: 100%;
        border: 0;
        border-radius: 0
    }
    .modal-fullscreen .modal-header {
        border-radius: 0
    }
    .modal-fullscreen .modal-body {
        overflow-y: auto
    }
    .modal-fullscreen .modal-footer {
        border-radius: 0
    }
    @media (max-width:575.98px) {
        .modal-fullscreen-sm-down {
            width: 100vw;
            max-width: none;
            height: 100%;
            margin: 0
        }
        .modal-fullscreen-sm-down .modal-content {
            height: 100%;
            border: 0;
            border-radius: 0
        }
        .modal-fullscreen-sm-down .modal-header {
            border-radius: 0
        }
        .modal-fullscreen-sm-down .modal-body {
            overflow-y: auto
        }
        .modal-fullscreen-sm-down .modal-footer {
            border-radius: 0
        }
    }
    @media (max-width:767.98px) {
        .modal-fullscreen-md-down {
            width: 100vw;
            max-width: none;
            height: 100%;
            margin: 0
        }
        .modal-fullscreen-md-down .modal-content {
            height: 100%;
            border: 0;
            border-radius: 0
        }
        .modal-fullscreen-md-down .modal-header {
            border-radius: 0
        }
        .modal-fullscreen-md-down .modal-body {
            overflow-y: auto
        }
        .modal-fullscreen-md-down .modal-footer {
            border-radius: 0
        }
    }
    @media (max-width:991.98px) {
        .modal-fullscreen-lg-down {
            width: 100vw;
            max-width: none;
            height: 100%;
            margin: 0
        }
        .modal-fullscreen-lg-down .modal-content {
            height: 100%;
            border: 0;
            border-radius: 0
        }
        .modal-fullscreen-lg-down .modal-header {
            border-radius: 0
        }
        .modal-fullscreen-lg-down .modal-body {
            overflow-y: auto
        }
        .modal-fullscreen-lg-down .modal-footer {
            border-radius: 0
        }
    }
    @media (max-width:1199.98px) {
        .modal-fullscreen-xl-down {
            width: 100vw;
            max-width: none;
            height: 100%;
            margin: 0
        }
        .modal-fullscreen-xl-down .modal-content {
            height: 100%;
            border: 0;
            border-radius: 0
        }
        .modal-fullscreen-xl-down .modal-header {
            border-radius: 0
        }
        .modal-fullscreen-xl-down .modal-body {
            overflow-y: auto
        }
        .modal-fullscreen-xl-down .modal-footer {
            border-radius: 0
        }
    }
    @media (max-width:1399.98px) {
        .modal-fullscreen-xxl-down {
            width: 100vw;
            max-width: none;
            height: 100%;
            margin: 0
        }
        .modal-fullscreen-xxl-down .modal-content {
            height: 100%;
            border: 0;
            border-radius: 0
        }
        .modal-fullscreen-xxl-down .modal-header {
            border-radius: 0
        }
        .modal-fullscreen-xxl-down .modal-body {
            overflow-y: auto
        }
        .modal-fullscreen-xxl-down .modal-footer {
            border-radius: 0
        }
    }
    @media (min-width:1024px) {
        .col-4 {
            width: 32.3333%;
        }
    }
    
    .grid-portfolio .grid-item:hover {
        background-size: 100% !important;
        -webkit-transition: background-size 200ms ease-out;
        -ms-transition: background-size 200ms ease-out;
        transition: background-size 200ms ease-out;
    }
}